<div class="container profilePage">
  <div class="profilePage_user">
    <div class="profilePage_user_image">
      <%= image_tag 'default-avatar.png' %>
    </div>

    <div class="profilePage_user_basicInfo">
      <div class="profilePage_user_nickname">
        <%= current_user.profile&.nickname %>
      </div>

      <div class="profilePage_user_usertag">
        <%= current_user.usertag %>
      </div>

      <div class="profilePage_user_bio">
        <%= current_user.profile.bio %>
      </div>

      <div class="profilePage_user_actionButton">
        <%= link_to 'Edit Profile', edit_profile_path %>
      </div>
    </div>
  </div>
</div>

