<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid main-header-inner">
    <%= link_to "@dEvicE", root_path, class: "navbar-brand" %>
    <div class="main-header-center">
      <ul class="nav">
        <li class="nav-item">
          <%= nav_link "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= nav_link "Mouse", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "MousePad", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "Keyboard", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "Monitor", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "Headset", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "Mic", "#" %>
        </li>
        <li class="nav-item">
          <%= nav_link "Desk Setup", "#" %>
        </li>
      </ul>
    </div>
    <div class="main-header-right">
        <% if user_signed_in? %>
          <div class="dropdown" data-controller="dropdown">
            <%= image_tag current_user.avatar_image, class: 'header_avatar dropbtn', data: { action: "click->dropdown#toggle" } %>
            <div class="dropdown-content" data-dropdown-target="menu">
              <%= link_to 'My page', root_path, class: "dropdown-link" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, class: "dropdown-link" %>
            </div>
          </div>
        <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'header_loginBtn' %>
        <% end %>
    </div>
  </div>
</nav>